---
layout: page
title: Projects
---

<!-- category links -->
<ul>
  {% for category in site.data.projects %}
    <li><a href="#{{category.id}}">{{category.name}}</a></li>
  {% endfor %}
</ul>

{% for category in site.data.projects %}

  <h2 id="{{category.id}}">{{category.name}}</h2>

  <ul>
    {% for project in category.projects %}
      <li>

        <h3>
          <a href="{{project.url}}" target="_blank">{{project.name}}</a>
          {% if project.label %}
            <small>({{project.label}})</small>
          {% endif %}
        </h3>

        <p>{{project.description}}</p>

      </li>
    {% endfor %}
  </ul>

{% endfor %}
