/* Custom, with some colors borrowed from Superhero
 * (http://bootswatch.com/superhero/) */
.sidebar {
  /* background blue */
  background-color: #2b3e50;
}
.content a,
.related-posts li a:hover {
  /* button orange */
  color: #df691a;
}

.sidebar-about h1 {
  font-family: "Roboto", sans-serif;
}

/* Helpers borrowed from Bootstrap */

/* Unstyled keeps list items block level, just removes default browser padding and list-style */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
