/* Custom, with some colors borrowed from Superhero
 * (http://bootswatch.com/superhero/) */
.sidebar {
  /* background blue */
  background-color: #2b3e50;
}
.content a,
.related-posts li a:hover {
  /* button orange */
  color: #df691a;
}

.sidebar-about h1 {
  font-family: "Roboto", sans-serif;
}

/* Helpers, some borrowed from Bootstrap */

/* Inline list items */
.list-inline {
  padding-left: 0;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

/* Indented only removes list-style */
.list-indented {
  list-style: none;
}
